{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> Jihan's Web Profile </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<header>
		{% include ".././partials/navbar.html" %}}
	</header>

<div class="compfest">
	<div class="compfest1">COMPFEST FASILKOM UI</div>
	<div class="desccompfest">
		<div class="desccompfest1">February 2018 - present</div>
		<div class="desccompfest2">Staff of Sponsorship</div>	
	</div>
		
	<div class="compfest2">
		<p>COMPFEST is a yearly IT Event & Exhibition arranged by the students of Faculty of Computer Science, University of Indonesia. 
		The event itself is made up of national-scale IT competitions that is intendednto bring creative innovatuons to technology,  
		an IT Exhibition involving diverse technology with a fresh gamificatio concept, seminars on the most talked-about topics in IT, 
		and various academies that aim to sharpen the bright minds of Indonesia. I started to join compfest as a member of the sponsorship division. 
		The sponsorship division is one of the important divisions in the Compfest, here I am taught how to communicate with various companies and negotiate.
		I have met with various companies and it was a new experience for me, I got a lot of lessons from this sponsorship staff.</p>
	</div>
</div>

<div>
	{% include ".././partials/contcat.html" %}}
</div>