{% load staticfiles %}

<div id="contact" class="container3">
	<div class="title3">CONTACT</div>
	<div class="contact">
		<img src="{% static 'img/email.jpg' %}" class="float-left">
		<p class="email">jihanocta123@gmail.com</p>
	</div>
	<div class="contact">
		<img src="{% static 'img/telepon.png' %}" class="float-left">
		<p class="telepon">+6285921437199</p>
	</div>
	<div class="contact">
		<img src="{% static 'img/alamat.png' %}" class="float-left">
		<p class="alamat">Jl. Dewa No. 15AC, Ciracas, 
		Jakarta Timur, West Java, Indonesia</p>
	</div>
</div>