{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title> Jihan's Web Profile </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<header>
		{% include ".././partials/navbar.html" %}}
	</header>
	<div class="title1">HELLO!</div>
	<div class="description1">Hi, I'm Jihan and I am an Information System student at Computer Science, University of Indonesia.
	I have interest with Project Management. I also like singing and read a Novel.</div>

<div id="record" class="containerutama">
	<div class="container1">
		<div class="title2">HERE'S MY SKILLS</div>
		<table style="width:50%">
		  <tr>
			<td><img src="{% static 'img/programming.png' %}" class="float-left"></td>
			<td class="description2">I have expertise in programming. Especially in the language
			of Java, Python, and HTML</td>
		  </tr>
		  <tr>
			<td><img src="{% static 'img/public speaking.jpg' %}" class="float-left"></td>
			<td class="description3">I like to speak in public, I am able to express
			my opinion in public</td>
		  </tr>
		  <tr>
			<td><img src="{% static 'img/leader ship.jpg' %}" class="float-left"></td>
			<td class="description4">I love to lead in a society. I have the ability
			to make decisions quickly</td>
		  </tr>
		  <tr>
			<td><img src="{% static 'img/microsoft office.gif' %}" class="float-left"></td>
			<td class="description5">I'm pretty good at using Microsoft Office. I can use
			Microsoft Words, Microsoft Excel, Microsoft Power Point,
			and can use existing tools</td>
		  </tr>
		</table>
	</div>

	<div class="container2">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h4>HERE'S MY RECORD</h4>
				<ul class="timeline">
					<li>
						<a target="_blank" href="/ristek/">RISTEK FASILKOM UI</a>
						<p>February 2018 - present</p>
						<p>Junior Member of Public Relation</p>
					</li>
					<li>
						<a target="_blank" href="/compfest/">COMPFEST FASILKOM UI</a>
						<p>February 2018 - present</p>
						<p>Staff of Sponsorship</p>
					</li>
					<li>
						<a target="_blank" href="/olim/">OLIMPIADE UI</a>
						<p>June 2018 - present</p>
						<p>Person In Charge of Sponsorship</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="containereducation">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>EDUCATION</h4>
				<ul class="timeline">
					<li>
						<a href="#">SDN CIRACAS 14 PAGI</a>
						<p>2005 - 2011</p>
					</li>
					<li>
						<a href="#">SMPN 9 JAKARTA</a>
						<p>2011 - 2014</p>
					</li>
					<li>
						<a href="#">SMAN 99 JAKARTA</a>
						<p>2014 - 2017</p>
					</li>
					<li>
						<a href="#">UNIVERSITAS INDONESIA</a>
						<p>2017 - present</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div>
	{% include ".././partials/contcat.html" %}}
</div>

</body>
</html>