.title1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: auto;
	height: auto;
	font-style: Regular;
	font-weight: Bold;
	font-size: 25px;

}

.description1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: auto;
	height: auto;
	font-style: Regular;
	line-height: 20px;
	margin: 2rem 0;
}

.title2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	font-weight: Bold;
	font-size: 25px;
	line-height: 50px;
}

.title3 {
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	font-weight: Bold;
	font-size: 25px;
	line-height: 50px;
}

.description2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 700px;
	height: 60px;
	font-style: Regular;
	font-size: 16px;
	line-height: 20px;
}

.description3 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 40px;
	font-style: Regular;
	font-size: (mixed);
	line-height: 20px;
}

.description4 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 60px;
	font-style: Regular;
	font-size: (mixed);
	line-height: 20px;
}

.description5 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 60px;
	font-style: Regular;
	font-size: (mixed);
	line-height: 20px;
}

.float-left {
	width: 100px;
	height: 50px;
	padding-left: 30px;
}

.navbar {
	display: flex;
}

.left-nav {
	flex: 2;
	font-family: 'Roboto', sans-serif;
	width: 150px;
	height: 50px;
	font-style: Regular;
	font-size: 28px;
	line-height: 55px;
}

.right-nav {
	flex: 1;
	font-family: 'Roboto', sans-serif;
	width: 69px;
	height: 22px;
	font-style: Regular;
	font-size: 18px;
	line-height: 21px;
}

.right-nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: space-evenly;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.containerutama {
	display: flex;
	flex-direction: row;
	background: #E4BF3D;
	flex-wrap: wrap;
}

.container2 h4 {
	height: auto;
}

.container3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #D89557;
	width: auto;
	height: auto;
	margin-top: 25rem;
	border-radius: 41px;
	flex-wrap: wrap;
}

.contact {
	display: flex;
	padding-right: 80px;
}

.email {
	padding-left: 30px;
	padding-right: 20px;
}

.telepon {
	padding-left: 40px;
	padding-right: 80px;
}

.alamat {
	justify-content: center;
}

.ristek {
	height: auto;
}

.ristek1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 1000px;
	height: 120px;
	font-style: Regular;
	font-weight: Bold;
	font-size: 25px;
	line-height: 200px;
}

.descristek1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 30px;
	font-style: Regular;
}

.descristek2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 70px;
	font-style: Regular;
}

.ristek2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	height: auto;
}

.compfest {
	height: auto;
}

.compfest1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 100%;
	height: 120px;
	font-style: Regular;
	font-weight: Bold;
	font-size: 25px;
	
}

.desccompfest1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 30px;
	font-style: Regular;
}

.desccompfest2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 70px;
	font-style: Regular;
}

.compfest2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	height: auto;
}

.olim {
	height: auto;
}

.olim1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 100%;
	height: 120px;
	font-style: Regular;
	font-weight: Bold;
	font-size: 25px;
	line-height: 200px;
}

.descolim1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 30px;
	font-style: Regular;
}

.descolim2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	width: 504px;
	height: 70px;
	font-style: Regular;
}

.olim2 {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	height: auto;
}

.hover:hover {
	background-color: yellow;
	color: black;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px;
}

.containereducation {
	align-items: center;
	padding-left: 250px;
	height: 350px;
}

.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E4BF3D;
	border-radius: 20px;
	line-height: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 650px;
}

@media screen and (max-width: 768px) {
	form {
		font-size: 16px;
	}
	.container3 p {
		font-size: 12px;
	}

	.container3 img {
		width: 50px;
		height: 50px;
	}

	.ristek1 {
		font-family: 'Roboto', sans-serif;
		padding-left: 20px;
		width: 100%;
		height: 120px;
		font-style: Regular;
		font-weight: Bold;
		font-size: 25px;
		line-height: 200px;
	}
	
	.descristek1 {
		font-family: 'Roboto', sans-serif;
		padding-left: 20px;
		width: 504px;
		height: 30px;
		font-style: Regular;
	}
	
	.descristek2 {
		font-family: 'Roboto', sans-serif;
		padding-left: 20px;
		width: 100%;
		height: 70px;
		font-style: Regular;
	}
	
	.ristek2 {
		font-family: 'Roboto', sans-serif;
		padding-left: 20px;
		height: auto;
	}
}

.name {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
}

.tanggallahir {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
}

.email {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
}

.username {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
}

.psw {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
}

.rgstr {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
	margin-top: 20px;
}

.judul {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	line-height: 70px;
	margin-bottom: 3rem;
}

.jadwalkegiatan {
	display: flex;
	flex-direction: column;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D89557;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	margin: 30px;
}

.list .txt {
	text-align: center;
	padding : 8px 20px 8px 20px
}

.activity-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hapus {
	width: auto;
}