{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title> Activity List </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<header>
		{% include ".././partials/navbar.html" %}}
    </header>
<div class="result">    
    <h1 align="center"> Activity List</h1>
    <div class="activity-list">
        <form action="/activityview" class="delete" method="POST">
            {% csrf_token %}
            <input class="hapus" type="submit" value="Delete All Activity">
        </form>
        {% for result in activity %}
            <div class="list">
                <div class="txt">
                    <p>Activity: {{ result.activity }}</p>
                    <p>Date: {{ result.date }}"</p>
                    <p>Time: {{ result.time }}"</p>
                    <p>Location: {{ result.location }}</p>
                    <p>Category: {{ result.category }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>