{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title> Jihan's Web Profile </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<header>
	{% include ".././partials/navbar.html" %}}
</header>
	<div class="register">
		<div class="judul">
			<h1>ACTIVITY SCHEDULE</h1>
		</div>
		<div class="kegiatan">
			<form action="/register" method="POST" class="jadwalkegiatan">
				{% csrf_token %}
				{% for fields in form %}
					{{ fields.label_tag }}
					{{ fields }}
				{% endfor %}
				<div class="rgstr">
					<input type="submit" value="Submit">
				</div>
				
				<!-- <div class="name">
					Nama:<br>
					<input type="text" name="name"><br>
				</div>
				<div class="tanggallahir">
					Tanggal Lahir:<br>
					<input type="date" name="tanggallahir"><br>
				</div>
				<div class="email" style="padding-left: 0px;">
					Email:<br>
					<input type="email" name="mail"><br>
				</div>
				<div class="username">
					Username:<br>
					<input type="text" name="username"><br>
				</div>
				<div class="psw">
					Password:<br>
					<input type="password" name="psw"><br>
				</div>
				<div class="psw">
					Password Confirmation:<br>
					<input type="password" name="psw"><br>
				</div>
				<div class="rgstr">
					<input type="submit" value="Register Now">
				</div> -->
			</form>
		</div>
	</div>
</body>
</html>




