{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title> Jihan's Web Profile </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
		<header>
				{% include ".././partials/navbar.html" %}
			</header>

<div class="ristek">
		<div class="ristek1">RISTEK FASILKOM UI</div>
		<div class="descristek">
			<div class="descristek1">February 2018 - present</div>
			<div class="descristek2">Junior Member of Public Relation</div>
		</div>
		
		
	<div class="ristek2">
		<p>Fasilkom research and technology is an organization engaged in the IT field. 
		Research and Technology consists of SIG and other divisions. 
		I started joining this Research and Technology in 2018. 
		I am one of the Public Relations members in the 2018 Research and Technology Department until now. 
		When I became a staff, I did a lot of work, in public relations research,
		i can learn how to relate to many companies and outsiders. 
		I was taught how to get the company closer to giving funds to research and technology. 
		Besides that, I also have to make an announcement to the whole community about the IT world. 
		According to me being a member of the Research and Technology program was a very proud thing and I was able to learn new things.</p>
	</div>
</div>


<div>
	{% include ".././partials/contcat.html" %}}
</div>