{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title> Jihan's Web Profile </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
		<header>
				{% include ".././partials/navbar.html" %}}
			</header>
<div class="olim">
	<div class="olim1">OLIMPIADE UI</div>
	<div class="descolim">
		<div class="descolim1">June 2018 - present</div>
		<div class="descolim2">Person In Charge of Sponsorship</div>
	</div>

	<div class="olim2">
		<p>Olimpiade UI is an annual sports event organized by the sports department BEM UI.
		This event is in the form of an inter-faculty competition consisting of many sports.
		I am currently being a person in charge of sponsorship, I am believed to be able to bring olim better.
		In my opinion this is an experience that I cannot easily, I have to go through various kinds of people who are better than me, 
		with me being a person in charge of sponsorship, I hope the 2018 ui Olympics will be the best and most successful Olympic Games.</p>
	</div>
</div>

<div>
	{% include ".././partials/contcat.html" %}}
</div>